.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.scoreBoard {
  margin: 10px;
}
.frame {
	display: inline-block;
    width: 100px;
    height: 50px;
    border: 1px solid #464646;
    border-right: none;
    margin: 0;
}
.frame:last-child {
  border-right: 1px solid #464646;
}
.frame  p {
	padding: 2px 0;
    margin: 0;
    text-align: center;
    background: rgb(76,175,80);
    color: white;
    border-bottom: 1px solid black;
}
.frame .pins {
	width: 100%;
}
.frame .pins span {
	width: 47%;
  display: inline-block;
  text-align: center;
  padding: 5px 0;
  border-right: 1px solid;
}
.frame:last-child .pins span {
  width: 32%;
}
.frame .pins span:last-child {
	border-right: none;
}